.title{
    text-align: center;
    color: #212EA0;
    font-size: 15PX;
    font-weight: 600;
    text-transform: uppercase;
    margin: 50px 0 30px;
}

.title h2{
   font-family: 32px;
   color: #000F38;
   margin-top: 5px;
   text-transform: none;
}